* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
  }

 .weight {
    font-weight: bold;
 } 

  li {
    float: left;
    text-decoration: none;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:hover{
    background-color: rgb(199, 203, 206);
    border-bottom: 3px solid black;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    height: 570px;
    background-color: rgb(199, 203, 206);
  }
  .flex-container > div {
    background-color: white;
    margin-top: 3px;
  }

  .mrg {
    margin-right: 20px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 0px #bbb8b8; 
  }
  .mrg2 {
    border-radius: 15px  0px 0px 15px;
  }

  p{
    text-align: center;
  }

  .hr1 {
    margin: 170px 10px 70px 10px;
    border: 2px solid rgb(199, 203, 206);
  }

  .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
  }
  
  .format {
    font-size: 30px;
    color: rgb(124, 128, 131);
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
  }

  




